@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomaniac+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomaniac+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomaniac+One&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #000c58;
}
hr{
    border:solid 1px #484848;
    margin-top: 30px;
    margin-bottom: 30px;
}
p{
    font-family: Prompt;
}
.butt{
    display: flex;
    margin-top: 50px;
}
button{
    display: flex;
    align-items: center;
    font-family: Prompt;
    padding: 10px;
    background-color: #7A99E9;
    border: none;
    border-radius: 60px;
    font-weight: 700;
}
.circle {
    width: 0.7em;
    height: 0.7em;
    background: #000;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}
.butt a{
    background-color: #222222;
    padding: 15px;
    font-size: 20px;
    border-radius: 100%;
    margin-left: 10px;
}
.narbar-menu {
  background-color: #060135;
  color: white;
  display: flex;
  justify-content: space-between;
}
.name {
  padding: 10px;
  font-family: Bebas Neue;
  padding-left: 5%;
}
.social-bar {
  text-decoration: none;
  margin-top: 40px;
  gap: 100px;
  padding-right: 5%;
}
.social-bar a {
  font-family: Inter;
  color: white;
  margin-right: 20px;
  text-decoration: none;
}
.main-sec {
  display: flex;
  margin: 10% 10%;
  justify-content: center;
  margin: 20px;
  margin-top: 90px;
}
.text-sec {
  color: white;
  font-family: Bebas Neue;
  width: 500px;
  margin-right: 20px;
}
.text-sec h1 {
  font-size: 60px;
}
.img-sec img {
  width: 400px;
}
.main-sec2{
    display: flex;
    justify-content: center;
    color: white;
}
.text2-sec{
    width: 500px;
}
.main-sec2 h1{
    font-family: Bebas Neue;
    font-size: 60px;
    margin-right: 220px;
}
.text2-sec h2{
    font-family: Prompt;
}
.img-sec2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}