@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomaniac+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomaniac+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monomaniac+One&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Monomaniac+One&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #000c58;
}
hr {
  border: solid 1px #484848;
  margin-top: 30px;
  margin-bottom: 30px;
}
p {
  font-family: Prompt;
}
.butt {
  display: flex;
  margin-top: 50px;
}
.butt button {
  display: flex;
  align-items: center;
  font-family: Prompt;
  padding: 10px;
  background-color: #7a99e9;
  border: none;
  border-radius: 60px;
  font-weight: 700;
}
.circle {
  width: 0.7em;
  height: 0.7em;
  background: #000;
  border-radius: 50%;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.butt a {
  background-color: #222222;
  padding: 15px;
  font-size: 20px;
  border-radius: 100%;
  margin-left: 10px;
}
.narbar-menu {
  background-color: #060135;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  padding: 10px;
  font-family: Bebas Neue;
  padding-left: 50px;
}
.social-bar {
  text-decoration: none;
  gap: 100px;
  padding-right: 50px;
}
.social-bar a {
  font-family: Inter;
  color: white;
  margin-right: 20px;
  text-decoration: none;
}
.main-sec {
  display: flex;
  margin: 10% 10%;
  justify-content: center;
  margin: 20px;
  margin-top: 90px;
}
.text-sec {
  color: white;
  font-family: Bebas Neue;
  width: 500px;
  margin-right: 20px;
}
.text-sec h1 {
  font-size: 60px;
}
.img-sec img {
  width: 400px;
}
.main-sec2 {
  display: flex;
  justify-content: center;
  color: white;
  gap: 250px;
}
.text2-sec {
  width: 500px;
  margin-left: 100px;
}
.main-sec2 h1 {
  font-family: Bebas Neue;
  font-size: 60px;
  margin-left: 80px;
}
.text2-sec h2 {
  font-family: Prompt;
}
.img-sec2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.text3-sec {
  display: flex;
  justify-content: center;
  gap: 150px;
  color: white;
  margin-top: 100px;
  margin-bottom: 100px;
}
.text3-sec h1 {
  font-family: Bebas Neue;
  font-size: 60px;
  width: 400px;
  margin-left: 100px;
}
.text3-1 {
  width: 550px;
  font-family: Manrope;
}
.butt-text{
  gap: 60px;
}
.butt-text div{
  margin-top: 40px;
}
.butt-text span{
  border-radius: 30px;
  padding: 15px;
  background: none;
  color: white;
  border: solid 2px #484848;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 15px;
}

.main-sec4 {
  display: flex;
  color: white;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.bigtext4{
  width: 500px;
  font-family: Manrope;
}
.text4-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-sec4 h1 {
  font-family: Bebas Neue;
  font-size: 60px;
  width: 400px;
  margin-right: 100px;
  margin-left: 50px;
}